:root {
    --colorPrimary:#FFFFFF;
    --colorPrimaryDark:#e5e5e5;
   --colorAccent:#9A21F7;
    --colorSecondary:#E91E63;
    --colorSecondaryDark:#9C27B0;
    --secondary_text:#FFFFFF;
    --Primary:#536DFE;
    --PrimaryDark:#304FFE;
  }

.background{
    background: rgb(233,30,99);
    background: linear-gradient(180deg, rgba(233,30,99,1) 0%, rgba(156,39,176,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed
}

input [type="text"]{
    background-color: transparent;
    border-bottom: var(--colorSecondary) solid 2px;
    border: none;
    width: 100%;
}

body{
    overflow: hidden;
    margin: 0px;
}
