:root {
    --colorPrimary: #FFFFFF;
    --colorPrimaryDark: #e5e5e5;
    --colorAccent: #9A21F7;
    --colorSecondary: #E91E63;
    --colorSecondaryDark: #9C27B0;
    --secondary_text: #FFFFFF;
    --Primary: #536DFE;
    --PrimaryDark: #304FFE;
}

input [type="text"] {
    background-color: transparent;
    border-bottom: var(--colorSecondary) solid 2px;
    border: none;
    width: 100%;
}